*{
	padding: 10px;
	margin: 0px;
}

nav{
	background-color: black;
	padding-top: 0px;
	position: relative;
	overflow: hidden;
}

ul li{
	float: left;
	position: relative;
	list-style-type: note;
	padding-top: 20px;
}

.section-1{
	background-image: url(computer.jfif);
	background-size: cover;
	background-position: center center;
	position: relative;
	height: 400px;
}
p{
	color: blue;
}

.div-2{
	height: auto;
	width: auto;
	display: flex;
}
img{
	border-radius: 50%;
}

a{
	text-decoration: none;
	color: white;
}

.footer{
	
	background-color: black;
	padding-bottom: 10px;
	height: 100px;
	color: white;
	clear: both;
}

td:nth-child(1){
color: blue;
}